@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply transition-colors duration-300;
  }

  body {
    @apply text-lg;
  }

  h1 {
    @apply text-4xl md:text-5xl font-bold;
  }

  h2 {
    @apply text-3xl md:text-4xl font-bold;
  }

  h3 {
    @apply text-2xl md:text-3xl font-bold;
  }

  p {
    @apply text-lg leading-relaxed;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

/* Add these styles to hide scrollbars */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
